.job-all-list {
  position: absolute;
  top: 15vh;
  min-height: 85vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-items: start;
  gap: 1rem;
}
@media (max-width: 1030px) {
  .job-all-list {
    top: 20vh;
    transform: translateX(-20%);
    padding: 0rem;
    grid-template-columns: 1fr;
  }
}
